<app-header (signOut)="router.navigate(['products'])"></app-header>
<main>
  <h3>Order ID: {{order.id}}</h3>
  <h4>Date: {{order.date | date:'medium'}}</h4>
  <h4>Total: ${{order.total}}</h4>
  @for (sale of order.sales; track $index) {
    <app-product-ticket [product]="{id: sale.productId, name: sale.productSnapshot.name, price: sale.productSnapshot.price, imgUrl: sale.productSnapshot.imgUrl, authorId: sale.productSnapshot.authorId ,quantity: sale.quantity, total: sale.total}"></app-product-ticket>
  }
</main>
