header{
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 16px 32px;
    align-items: center;
}
header a{
    color: black;
}
header span{
    color: #8a8a8a;
}
.content{   
    min-height: 100vh;
    width: 100%;
    display: flex;
    font-size: small;
}
.cardForm{
    display: flex;
    margin: 0 auto;
    width: 100vw;
    gap: 10%;
}
.content img{
    border-radius: 16px;
    margin-left: 5%;
    width: 40vw;
    height: 45vw;
}
form{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 32px;
}
form > span{
    font-size: 32px;
    font-weight: 500;
    text-align: left;
    width: 100%;
}
.accountType{
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    outline: 1px solid #c0c0c0;
    border-radius: 32px;
    margin: 0 auto;
}
input[type=radio]{
    display: none;
}
input[type=radio] + label{
    text-align: center;
    width: 100%;
    border-radius: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 2px;
    margin-right: 2px;
}
.selected{
    background-color: black;
    color: white;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.form > .names{
    width: 100%;
    display: flex;
    gap: 8px;
}
.box{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form span{
    width: fit-content;
    margin-top: 4px;
}
.error{
    color: rgb(231, 0, 0);
}   
.password{
    display: flex;
}
.password > input{
    width: 100%;
}
.password mat-icon{
    position: absolute;
    margin-left: 23vw;
    margin-top: 8px;
}
p{
    color: #8a8a8a;
}
a{
    color: #8a8a8a;
}
.login{
    padding-left: 8px;
    padding-right: 8px;
}