<div style="width: 100%;height: 90vh;align-content: center;">
    <div class="formCard">
        <h1 style="text-align: center;">Login</h1>
        <div style="display: flex;flex-direction: column;gap: 5px;">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Username" [(ngModel)]="username">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="password">
            <button (click)="validForm()">Sign in</button>
        </div>
        <a routerLink="/register">Register here!</a>
    </div>
</div>
