<app-navbar></app-navbar>
<form action="">
  <div class="form-item">
    <label for="initDateChart" >Fecha inicial</label>
    <input type="date" name="initDateChart" id="initDateChart" [(ngModel)]="chartConfig.xAxis.min" >
  </div>
  <div class="form-item">
    <label for="initDateChart">Fecha final</label>
    <input type="date" name="endDateChart" id="endDateChart" [(ngModel)]="chartConfig.xAxis.max" >
  </div>
  <button type="submit" class="btn btn-primary" (click)="renderChart()">Buscar</button>
  <div class="form-item">
    <label for="showTrips">Mostrar también fechas viajes propuestos</label>
    <input type="checkbox" name="showTrips" id="showTrips" (change)="onChangeTrips()" [(ngModel)]="showTrips">
  </div>
</form>
<div id="chart"></div>
