<app-navbar></app-navbar>
<div class="content">
  <app-invite></app-invite>
  <form action="">
    <div class="form">
      <mat-form-field style="min-width: 350px; ">
        <mat-label>Selecciona un periodo del año</mat-label>
        <mat-select [(value)]="selectedOption" (selectionChange)="onChangeOption()">
          @for (entry of graphicOptions | keyvalue; track $index) {
            <mat-option [value]="entry.key">{{entry.key}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Selecciona el año</mat-label>
        <mat-select [(value)]="selectedYear" (selectionChange)="onChangeOption()">
          @for (y of yearOptions; track $index) {
            <mat-option [value]=y>{{y}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-item">
      <label for="showTrips">Mostrar también fechas viajes propuestos</label>
      <input type="checkbox" name="showTrips" id="showTrips" (change)="onChangeTrips()" [(ngModel)]="showTrips">
    </div>
  </form>
  <div id="chart"></div>
</div>
