p{
  font-weight: 500;
  color: var(--light-color);

}

.grid{

    & .form{
      align-content: center;
      outline: 2px solid var(--background-contrast-color);
      border-radius: 8px;
      padding: 16px;
      background-color: var(--background-contrast-color);
      cursor: auto;
  }

}
