<section class="mt-[10vh]" id="about">
    <h2 class="font-semibold text-3xl mb-4">Who Am I?</h2>
    <p class="font-regular text-2xl text-justify">I am a Web Application Development student with
        experience in freelance projects focused on bug fixing and
        malware removal for websites. I have had the opportunity
        to work and study in Canada, which has allowed me to
        achieve a high level of English proficiency. I possess
        advanced skills in technologies such as Angular and
        Node.js, along with a solid understanding of relational
        databases.</p>
</section>