<nav class="p-4 flex gap-8 w-[100%] justify-end pr-8 bg-[linear-gradient(#001322,#01245900)] fixed top-0">
    <a class="cursor-pointer font-semibold hover:text-white transition-all text-[#B2D1EB]" href="#about">About me</a>
    <a class="cursor-pointer font-semibold hover:text-white transition-all text-[#B2D1EB]" href="#experience">Experience</a>
    <a class="cursor-pointer font-semibold hover:text-white transition-all text-[#B2D1EB]">Projects</a>
</nav>