<nav class="p-4 flex flex-col sm:flex-row gap-8 w-full justify-between sm:justify-end md:pr-8 bg-[linear-gradient(#001322,#01245900)] fixed top-0 z-10">
    <div class="flex justify-around w-full sm:w-auto sm:gap-8">
        <a class="cursor-pointer font-semibold hover:text-white transition-all text-[#B2D1EB]" href="#about">About me</a>
        <a class="cursor-pointer font-semibold hover:text-white transition-all text-[#B2D1EB]" href="#experience">Experience</a>
        <a class="cursor-pointer font-semibold hover:text-white transition-all text-[#B2D1EB]" href="#projects">Projects</a>
    </div>
</nav>
