<section class="flex flex-col h-screen items-center justify-center" id="poster">
    <div class="flex flex-col items-center sm:items-center gap-3 sm:gap-5 md:gap-7 lg:flex-row lg:gap-10 info">
        <div class="flex flex-col  gap-3 sm:gap-5 ">
            <img src="/pfp.png" alt="Perfil" class="w-28 sm:w-28 md:w-40 lg:w-52 h-auto rounded-md">

        </div>
        <div class="flex flex-col items-center lg:items-start text-center lg:text-left gap-2 sm:gap-3 md:gap-5 lg:gap-8 ">
            <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold">Sergio Elías Zúñiga Garrido</h1>
            <h2 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl font-semibold">Fullstack developer</h2>

            <!-- Iconos de habilidades técnicas en una fila -->
            <div class="flex gap-2 sm:gap-4 md:gap-5 lg:gap-8 justify-center lg:justify-start">
                <img src="/ag.png" alt="Angular" class="w-6 sm:w-8 md:w-10 ">
                <img src="/io.png" alt="Ionic" class="w-6 sm:w-8 md:w-10 ">
                <img src="/ne.png" alt="NestJS" class="w-6 sm:w-8 md:w-10 ">
                <img src="/net.png" alt="DOTNet" class="w-6 sm:w-8 md:w-10 ">
            </div>
        </div>
    </div>

    <nav class="px-0 py-4 md:px-4 flex flex-col gap-12 w-full width-[100%] mt-16">
        <div class="flex justify-around w-full sm:w-auto ">
            <div class="font-semibold text-sm md:text-lg  text-secondary text-center" ><button class="hover:text-white transition-all"  popovertarget="about" >About me</button></div>
            <div class="font-semibold text-sm md:text-lg   text-secondary  text-center" ><button class="hover:text-white transition-all"  popovertarget="experience">Experience</button></div>
            <div class="font-semibold text-sm md:text-lg   text-secondary  text-center" ><button class="hover:text-white transition-all" popovertarget="projects">Projects</button></div>
            <div class="font-semibold text-sm md:text-lg   text-secondary text-center" ><button class="hover:text-white transition-all" popovertarget="contact">Contact</button></div>
        </div>
    </nav>

    <hr style="border: none; background: linear-gradient(to right, transparent, #B2D1EB , transparent);width: 100%; height: 2px;">
    <div class="flex gap-3 sm:gap-4 md:gap-6 lg:gap-8 width-[100%] justify-around absolute bottom-2 md:bottom-8 social-media">
        <a href="https://linkedin.com/in/sergio-elías-zúñiga-garrido-353685281" class="hover:scale-[1.2] transition-all" target="_blank">
            <img src="/in.png" alt="Linkedin" class="w-5 sm:w-7 md:w-8 hover:drop-shadow-[0_0_5px_rgba(250,250,250,0.5)]" title="LinkedIn">
        </a>
        <a href="https://github.com/sezgox" class="hover:scale-[1.2] transition-all" target="_blank">
            <img src="/git.png" alt="Github" class="w-5 sm:w-7 md:w-8 hover:drop-shadow-[0_0_5px_rgba(250,250,250,0.5)]" title="GitHub">
        </a>
        <a href="https://instagram.com/seliaszg" class="hover:scale-[1.2] transition-all" target="_blank">
            <img src="/ig.png" alt="Instagram" class="w-7 sm:w-8 hover:drop-shadow-[0_0_5px_rgba(250,250,250,0.5)]" title="Instagram">
        </a>
    </div>

</section>

<style>
    button[popovertarget="about"]{
        text-shadow: none;
        animation: shine 2s ease-in-out;
        animation-delay: .5s;
    }
    button[popovertarget="experience"]{
        text-shadow: none;
        animation: shine 2s ease-in-out;
        animation-delay: 1.5s;
    }
    button[popovertarget="projects"]{
        text-shadow: none;
        animation: shine 2s ease-in-out;
        animation-delay: 3s;
    }
    button[popovertarget="contact"]{
        text-shadow: none;
        animation: shine 2s ease-in-out;
        animation-delay: 4s;
    }
    @keyframes shine {
        50%{
            color: white;
            text-shadow: 0 0 10px white;
        }
        100%{
            color: inherit;
        }
    }
	@media only screen and (max-width: 768px) and (orientation: landscape) {
		nav{
			margin-top: 8px;
		}
        .info{
            display: flex;
            flex-direction: row;
        }
        .social-media{
            bottom: -48px;
        }
	}
</style>
