<section class="flex flex-col h-screen items-center justify-center" id="poster">
    <!-- Contenedor principal que pasa de columnas a filas en pantallas grandes -->
    <div class="flex flex-col items-center sm:items-center gap-3 sm:gap-5 md:gap-7 lg:flex-row lg:gap-10">
        <!-- Imagen adaptable con relación de aspecto para asegurar que se centre -->
        <img src="../../public/pfp.png" alt="Perfil" class="w-28 sm:w-28 md:w-40 lg:w-60 h-auto">

        <!-- Contenedor de los textos y habilidades técnicas -->
        <div class="flex flex-col items-center lg:items-start text-center lg:text-left gap-2 sm:gap-3 md:gap-5 lg:gap-8">
            <!-- Título principal con tamaños de texto ajustados para dispositivos pequeños -->
            <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold">Sergio Elías Zúñiga Garrido</h1>
            <!-- Subtítulo con tamaño más pequeño en dispositivos móviles y centrado en mobile/tablet -->
            <h2 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl font-semibold">Fullstack developer</h2>

            <!-- Iconos de habilidades técnicas en una fila -->
            <div class="flex gap-2 sm:gap-4 md:gap-5 lg:gap-8 justify-center lg:justify-start">
                <img src="../../public/ag.png" alt="Angular" class="w-6 sm:w-8 md:w-10 lg:w-12">
                <img src="../../public/io.png" alt="Ionic" class="w-6 sm:w-8 md:w-10 lg:w-12">
                <img src="../../public/ne.png" alt="NestJS" class="w-6 sm:w-8 md:w-10 lg:w-12">
                <img src="../../public/net.png" alt="DOTNet" class="w-6 sm:w-8 md:w-10 lg:w-12">
            </div>
        </div>
    </div>

    <!-- Iconos de redes sociales en la parte inferior con tamaño y sombra ajustables -->
    <div class="flex gap-3 sm:gap-4 md:gap-6 lg:gap-8 absolute bottom-8">
        <a href="https://linkedin.com/sezgox" class="hover:scale-[1.1] transition-all" target="_blank">
            <img src="../../public/in.png" alt="Linkedin" class="w-6 sm:w-8 md:w-10 lg:w-12 hover:drop-shadow-[0_0_5px_rgba(250,250,250,0.5)]" title="LinkedIn">
        </a>
        <a href="https://github.com/sezgox" class="hover:scale-[1.1] transition-all" target="_blank">
            <img src="../../public/git.png" alt="Github" class="w-6 sm:w-8 md:w-10 lg:w-12 hover:drop-shadow-[0_0_5px_rgba(250,250,250,0.5)]" title="GitHub">
        </a>
        <a href="https://instagram.com/seliaszg" class="hover:scale-[1.1] transition-all" target="_blank">
            <img src="../../public/ig.png" alt="Instagram" class="w-6 sm:w-8 md:w-10 lg:w-12 hover:drop-shadow-[0_0_5px_rgba(250,250,250,0.5)]" title="Instagram">
        </a>
    </div>
</section>
