<section class="flex flex-col h-screen items-center justify-center">
    <div class="flex justify-center items-center gap-8">
        <img src="../../public/pfp.png" alt="">
        <div class="flex flex-col gap-6">
            <h1 class="text-5xl font-bold">Sergio Elías Zúñiga Garrido</h1>
            <h2 class="text-4xl font-semibold">Fullstack developer</h2>
            <div class="flex gap-6">
                <img src="../../public/ag.png" alt="Angular">
                <img src="../../public/io.png" alt="Ionic">
                <img src="../../public/ne.png" alt="NestJS">
                <img src="../../public/net.png" alt="DOTNet">
            </div>
        </div>
    </div>
    <div class="flex gap-6 absolute bottom-8">
        <a href="https://linkedin.com/sezgox" class="hover:scale-[1.1] transition-all" target="_blank"> <img src="../../public/in.png" alt="Linkedin" class="hover:drop-shadow-[0_0_5px_rgba(250,250,250,0.5)]" title="https://linkedin.com/sezgox"></a>
        <a href="https://github.com/sezgox"  class="hover:scale-[1.1] transition-all" target="_blank"><img src="../../public/git.png" alt="Github"  class="hover:drop-shadow-[0_0_5px_rgba(250,250,250,0.5)]" title="https://github.com/sezgox"></a>
        <a href="https://instagram.com/seliaszg" class="hover:scale-[1.1] transition-all" target="_blank"><img src="../../public/ig.png" alt="Instagram"  class="hover:drop-shadow-[0_0_5px_rgba(250,250,250,0.5)]" title="https://instagram.com/seliaszg">
    </div></a>
</section>
