---
import ProjectCard, { Technology, type Project } from "./ProjectCard.astro"

const projects = [
    {
        title: 'Vente',
        description: '<i>Vente</i> is a cross-platform application currently in development. It aims to provide an easy and intuitive event management experience, accessible to anyone and suitable for all audiences.  My role in this project is as a front-end developer, in collaboration with Lautaro Zúñiga (backend and project manager) and Juan Manuel Mateo (UI designer).',
        technologies: [Technology.Angular, Technology.Ionic],
        image: '/v.webp',
        link: '#',
        linkName: 'Official Website Comming Soon!'
    },
    {
        title: 'NotesApp',
        description: 'This is the first fully functional application I undertook to develop entirely on my own. It is a simple app that allows you to save text notes and share them, as well as have your own user profile. It helped me to establish a solid foundation in Angular and served as good practice for starting to learn backend development with Express.',
        technologies: [Technology.Angular, Technology.Node],
        image: '/post-it.webp',
        link: 'https://github.com/sezgox/MISC/tree/main/NotesApp',
    },
    {
        title: 'ShopApp',
        description: `This application simulates an online buy-and-sell store where users with different roles can either offer or purchase products. It marks my first experience with NestJS and the integration of a payment gateway using Stripe. Additionally, it's my first application using Prisma as an ORM with a PostgreSQL database.`,
        technologies: [Technology.Angular, Technology.Ionic, Technology.Nest],
        image: '/mml.webp',
        link: 'https://github.com/sezgox/MISC/tree/main/ShopApp',
    },
    {
        title: 'MoviesApp',
        description: 'This application allowed me to learn how to make calls to external APIs and manage them, thanks to TheMovieDB API. Its purpose is to serve as practice for solidifying my knowledge in both backend with Express and frontend with Angular.',
        technologies: [Technology.Angular, Technology.Node],
        image: '/w.webp',
        link: 'https://github.com/sezgox/MISC/tree/main/MoviesApp',
    },
    {
        title: 'TripPlanner',
        description: 'I developed this application for my friends and I to organize our trips based on our free time. It allowed me to integrate graphs from external libraries to visualize the data and make the user experience more friendly. It is also my first experience with WebSockets and Socket.IO.',
        technologies: [Technology.Angular, Technology.Nest],
        image: '/trip.webp',
        link: 'https://github.com/sezgox/MISC/tree/main/ViajeChavales',
    }
]
---

<popover class=" h-full w-full text-white m-auto content-center p-8 md:p-20 " 
id="projects" popover>
    <button popovertarget="projects" popovertargetaction="hide"  class="relative outline-none w-8 h-8 flex justify-center items-center rounded-full -left-4 -top-4 md:-left-8 hover:outline-2 hover:outline-white"><svg xmlns="http://www.w3.org/2000/svg"  width="1.78em" height="1em" viewBox="0 0 16 9">
        <path fill="currentColor" d="M12.5 5h-9c-.28 0-.5-.22-.5-.5s.22-.5.5-.5h9c.28 0 .5.22.5.5s-.22.5-.5.5" />
        <path fill="currentColor" d="M6 8.5a.47.47 0 0 1-.35-.15l-3.5-3.5c-.2-.2-.2-.51 0-.71L5.65.65c.2-.2.51-.2.71 0s.2.51 0 .71L3.21 4.51l3.15 3.15c.2.2.2.51 0 .71c-.1.1-.23.15-.35.15Z" />
    </svg></button>
    <h2 class="font-semibold text-2xl sm:text-3xl md:text-4xl mb-2 sm:mb-4">Projects</h2>
    <p class="font-normal text-lg md:text-2xl mb-6">Here is a list of applications that I have developed or am currently developing, which have helped me to learn and strengthen my knowledge in a variety of technologies:</p>

    <section class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-6  w-full">

        {projects.map((project: Project) => {
            return <ProjectCard project={project}/>
        })}

    </section>
    <button popovertarget="contact" class="px-4 py-2 bg-primary rounded-lg font-semibold flex items-center ml-auto mt-8 hover:shadow-[0_0_5px_white]">Contact <svg xmlns="http://www.w3.org/2000/svg" width="1.78em" height="1em" viewBox="0 0 16 9">
        <path fill="currentColor" d="M12.5 5h-9c-.28 0-.5-.22-.5-.5s.22-.5.5-.5h9c.28 0 .5.22.5.5s-.22.5-.5.5" />
        <path fill="currentColor" d="M10 8.5a.47.47 0 0 1-.35-.15c-.2-.2-.2-.51 0-.71l3.15-3.15l-3.15-3.15c-.2-.2-.2-.51 0-.71s.51-.2.71 0l3.5 3.5c.2.2.2.51 0 .71l-3.5 3.5c-.1.1-.23.15-.35.15Z" />
    </svg></button>
</popover>