<div [ngClass]="{'editing': onEdit}" class="item freeday-card">
  @if(onEdit){
    <div class="buttons">
      <button class="btn" title="Eliminar" (click)="onRemove.emit(fd.id)">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="currentColor" d="M7 21q-.825 0-1.412-.587T5 19V6q-.425 0-.712-.288T4 5t.288-.712T5 4h4q0-.425.288-.712T10 3h4q.425 0 .713.288T15 4h4q.425 0 .713.288T20 5t-.288.713T19 6v13q0 .825-.587 1.413T17 21z"/></svg>
      </button>
      <button class="btn" title="Guardar cambios" (click)="editFd(fd)">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="currentColor" d="m9.55 15.15l8.475-8.475q.3-.3.7-.3t.7.3t.3.713t-.3.712l-9.175 9.2q-.3.3-.7.3t-.7-.3L4.55 13q-.3-.3-.288-.712t.313-.713t.713-.3t.712.3z"/></svg>
      </button>
      <button class="btn" (click)="onEdit = !onEdit" title="Cerrar edición">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="currentColor" d="m12 13.4l-4.9 4.9q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7l4.9-4.9l-4.9-4.9q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l4.9 4.9l4.9-4.9q.275-.275.7-.275t.7.275t.275.7t-.275.7L13.4 12l4.9 4.9q.275.275.275.7t-.275.7t-.7.275t-.7-.275z"/></svg>
      </button>
    </div>

    <div class="freeday-card__content">
      <span class="eyebrow">Editar periodo</span>
      <mat-form-field>
        <mat-label>Rango actualizado</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Inicio">
          <input matEndDate formControlName="end" placeholder="Fin">
        </mat-date-range-input>
        <mat-hint>Antes: {{previousDates.start | date: 'dd/MM/yyyy'}} - {{previousDates.end | date: 'dd/MM/yyyy'}}</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
  } @else {
    <div class="buttons">
      <button class="btn" (click)="onEdit = !onEdit" title="Editar">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="currentColor" d="M3 21v-4.25L16.2 3.575q.3-.275.663-.425t.762-.15t.775.15t.65.45L20.425 5q.3.275.438.65T21 6.4q0 .4-.137.763t-.438.662L7.25 21z"/></svg>
      </button>
    </div>

    <div class="freeday-card__content">
      <span class="eyebrow">Disponibilidad</span>
      <h3>Ventana libre guardada</h3>
      <p>Desde <span [innerHTML]="(fd.startDate | date:'dd/MM/yyyy') | highlightDate"></span></p>
      <p>Hasta <span [innerHTML]="(fd.endDate | date:'dd/MM/yyyy') | highlightDate"></span></p>
    </div>
  }
</div>
