<div class="content">
    <main>
        <button (click)="goBack()" class="back">Go back</button>
        <div>
            <img src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}" alt="" width="20%">
            <h2>{{movie.title}} ({{movie.release_date}})</h2>
            <p>{{movie.overview}}</p>
            @if (watched) {
                <button (click)="removeFromWatched()" class="removeButton">Remove</button>
            }@else {
                <button (click)="addToWatched()" class="watchedButton">Add to Watched</button>
            }
        </div>
    </main>
</div>
