<app-navbar (searchEvent)="searchMovie($event)" [page]="searching ? this.page : undefined" ></app-navbar>
<div class="content">
    <main>
        <app-movie-library [movies]="movies"></app-movie-library>
        
        <section class="pages">
            @if (page > 1) {
                <a (click)="previousPage()">Previous page</a>
            }
            @if (page < this.totalPages - 1) {
                <a (click)="nextPage()" style="margin-left: auto;">Next page</a>
            }
            
        </section>
    </main>
    <aside>
        <app-genres-menu (genreSelected)="filterByGenre($event)" [currentGenre]="genre.name"></app-genres-menu>
    </aside>
</div>
