<h3>Your Products</h3>

<div style="display: flex;">

  <div style="display: grid; grid-template-columns: repeat(5, 1fr); gap: 16px; margin-top: 16px; width: 100%; align-items: center;">
    @if(products.length > 0){
      <h4>Product Name</h4>
      <h4>Description</h4>
      <h4>Price</h4>
      <h4>Stock</h4>
      <h4></h4>
    }

    @for (product of products; track $index) {
      <span>{{product.name}}</span>
      <span>{{product.description}}</span>
      <span>${{product.price}}</span>
      <span [ngStyle]="{'color': product.stock == 0 ? 'red' : 'green'}" style="font-weight: 500;">{{product.stock}}</span>
      <div style="display: flex; gap: 8px; align-items: center;">
        <button class="edit" popovertarget="popover" (click)="onEdit(product)">Edit</button>
        <button class="delete" (click)="showDialog(product.id)" [ngClass]="product.stock == 0 ? 'disabled' : 'enabled'">Delete</button>
      </div>
      <dialog style="border-radius: 8px;" [id]="'dialog' + product.id">
        <p>You will only be able to delete this product if you haven't sold it yet.</p>
        <p>In other case, you will reset the stock of this product to 0!</p>
        <span style="font-weight: 500;">Are you sure you want to delete this product?</span>
        <div style="display: flex; gap: 8px; align-items: center; margin-top: 16px;">
          <button (click)="delete(product.id)">Yes</button><button (click)="hideDialog(product.id)">No</button>
        </div>
      </dialog>
    }@empty {
      <h4 style="grid-column: span 4;">You haven't upload any product for sale yet...</h4>
    }
    @if (query.page < maxPage) {
      <button style="grid-column: span 5; background-color: yellow; width: 200px; padding: 16px; justify-self: center; color: black;" (click)="loadMore()">Load more</button>
    }

  </div>
  <button style="width: 24px; padding: 16px; height: 24px; font-weight: 700; text-align: center;" popovertarget="popover" (click)="action = 'add'">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><rect width="24" height="24" fill="none"/><path fill="currentColor" d="M18 10h-4V6a2 2 0 0 0-4 0l.071 4H6a2 2 0 0 0 0 4l4.071-.071L10 18a2 2 0 0 0 4 0v-4.071L18 14a2 2 0 0 0 0-4"/></svg>
  </button>
  <app-form (addProduct)="add($event)" (editProduct)="edit($event)" [action]="action" [product]="action == 'edit' ? productToEdit : null"></app-form>
</div>
