<app-header (signOut)="router.navigate(['products'])"></app-header>
<div class="container">
  <aside>
    <app-menu [userRole]="user.role" [menuOption]="menuOption" (changeOption)="onMenuChange($event)"></app-menu>
  </aside>
  <main style="grid-column: span 3; margin-bottom: 5vh;">
    @if (menuOption == 'information') {
     <app-information [user]="user"></app-information>
    }@if(menuOption == 'products') {
     <app-products [products]="products()" [maxPage]="maxPage" (loadProducts)="getProducts($event)" (addProduct)="addProduct($event)" (deleteProduct)="deleteProduct($event)" (editProduct)="editProduct($event)"></app-products>
    }@else if(menuOption == 'sales' || menuOption == 'orders') {
      <app-orders-sales [userType]="user.role"></app-orders-sales>
    }
  </main>
</div>
<router-outlet />

