APP_PORT=8091

POSTGRES_DB=viajechavales
POSTGRES_USER=viajechavales
POSTGRES_PASSWORD=change-me

JWT_SECRET=change-this-super-secret
JWT_EXPIRES=7d
JWT_ISSUER=ViajeChavales
JWT_AUDIENCE=ViajeChavalesUsers
