
.submit{
  background-color: rebeccapurple;
  &:hover{
    background-color: rgb(80, 37, 122);
  }
}
[popover]{
  width: 100%; height: 100%; border: none;
}
div[popover] > button{
  width: fit-content; padding: 8px; margin-left: 64px; margin-top: 64px; display: flex; align-items: center; justify-content: center;
  @media(max-width: 1024px){
    margin-left: 16px;
    margin-top: 16px;
  }
}
.form-edit{
  display: flex; gap: 16px; margin-top: 16px; flex-direction: column; width: 25vw;

  @media(max-width: 1024px){
    width: 100%;
  }
}
form img{
  @media (max-width: 1024px) {
    width: 90vw;
  }
}
